*{
    font-family: sans-serif;

}

body{
font-family: Arial, sans-serif;
background: linear-gradient(135deg,#4facfe,#00f2fe);
margin:0;
padding:0;

}

h1{
text-align: center;
color:#333;
}

form{
background:white;
padding:30px;
border-radius:10px;
width:50%;
margin-left: 310px;
box-shadow:0 8px 20px rgba(0,0,0,0.2);
display: flex;
justify-content: center;
align-items: center;
text-align:center;
}

input{
width:200px;
padding:10px;
margin:10px;
border-radius:6px;
border:1px solid #ccc;
}

select{
padding:8px;
margin:10px;
border-radius:6px;
border:1px solid #ccc;
}

button{
padding:10px 20px;
background:#00c896;
border:none;
color:white;
border-radius:6px;
cursor:pointer;
font-size:15px;
}

button:hover{
    background-color: aliceblue;
    color:#06648a;
}

#Result{
margin-top:20px;
font-size:18px;
font-weight:bold;
text-align:center;
color:#222;
}

.main{
display:flex;
justify-content:center;
margin-top:40px;
}

.nav ul{
list-style:none;
display:flex;
  
  
  
}

.nav li{
margin:20px;
justify-content: center;

}

.nav a{
text-decoration:none;
background:white;
padding:12px 25px;
border-radius:8px;
color:#333;
font-weight:bold;
display:inline-block;

}

.nav a:hover{
background:#4facfe;
color:white;
}

footer{
   padding-top: 200px; 
   text-align: center;
}
